* {
    box-sizing: border-box;
    list-style: none;
}

.articles-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.articles-container {
    justify-content: space-evenly;
    background-color: grey;
    text-align: center;
    border: 1px solid black;
    border-radius: 2px;
}

.articles-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.category {
    width: 50%;

}