{% extends "base.html.twig" %}
 {% block main %}
{% block metatitle %}
    404
{% endblock metatitle %}


{% block main %}
    <h1>La page recherchée n'a pas été trouvée</h1>
{% endblock main %}
 {%  endblock body %}