{% extends "base.html.twig" %}

{% block metatitle %}
    404 | Les rois des articles
{% endblock metatitle %}


{% block main %}
    <h1>La page recherchée n'a pas été trouvée</h1>
{% endblock main %}