    {% extends "base.html.twig" %}
    {% block metatitle %}
        liste des articles
    {% endblock metatitle %}

    {% block main %}

        <section class="articles-container">
            <h3>Il y a {{ articles | length }} articles actuellement</h3>
    {% for article in articles %}
            <article class="article-container">
            <h2>{{ article.title }}</h2>
                <a href="{{ path('showArticle', {id: article.id}) }}">Voir l'article</a>
            </article>
    {% endfor %}

        </section>

    {% endblock main %}

