{% include "partials/_header.html.twig" %}

<main>
<section class="articles-container">
    {% for article in articles %}
            <article class="article-container">
            <h2>{{ article.title }}</h2>
                <a href="{{ path('article_show', {id: article.id}) }}">Voir l'article</a>
            </article>
    {% endfor %}
</section>

</main>

{% include "partials/_footer.html.twig" %}