    {% extends "base.html.twig" %}

    {% block metatitle %}
        Résultats de recherche
    {% endblock metatitle %}
{% block body %}

    {% block main %}
        <h1>Résultats de recherche pour "{{ search }}" :</h1>
    {% endblock main %}
{%  endblock body %}