{% extends 'base.html.twig' %}


{% block metatitle %}
    {{ article.title }}  Article est supprimé
{% endblock metatitle %}

{% block main %}
    <div>
        <p>Article "{{ article.title }}" supprimé:</p>
    </div>
{% endblock %}