{% include "partials/_header.html.twig" %}

<main>
<section class="articles-container">
    {% for article in articles %}
        <h2>{{ article.title }}</h2>
    {% endfor %}
</section>

</main>

{% include "partials/_footer.html.twig" %}