<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ asset('assets/style.css') }}">
    <title>{%block metatitle%} {% endblock metatitle %}</title>
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a href="{{ path('home') }}">Accueil</a></li>
            <li><a href="{{ path('articles_list') }}">Articles</a></li>
        </ul>
        <form method="get" action="{{ path('article_search_results') }}">
            <input type="text" name="search" />
            <input type="submit"/>
        </form>
    </nav>
</header>
<main>
    {% block main %}

    {%endblock %}
</main>

<footer>
        <ul>
            <li>Copyright</li>
        </ul>
</footer>
</body>
</html>