{% extends 'base.html.twig' %}

{% block metatitle %}
    MAJ catégorie
{% endblock metatitle%}

{% block main %}
        <article>
            <p>La catégorie "{{ category.title }}" a été mise à jour avec succès</p>
        </article>
{% endblock main %}

