{% extends 'base.html.twig' %}

{% block metatitle %}
    MAJ catégorie
{% endblock metatitle%}

{% block main %}
    <form method="post" action="{{ path('update_category', {id: category.id}) }}">

        <label>Titre
            <input name="title" type="text" value="{{ category.title }}" required/>
        </label>

        <label for="image">Image</label>
        <input type="color" name="color">

        <input type="submit">


    </form>

{% endblock main %}

