{% extends 'base.html.twig' %}


{% block metatitle %}
    {{ category.title }} Catégorie supprimée
{% endblock metatitle %}

{% block main %}

    <div>
        <p>Enregistrement de la supression de "{{ category.title }}" :</p>
    </div>

{% endblock main %}