{% extends "base.html.twig" %}

    {% block metatitle %} Nouvelles categories créée {% endblock metatitle %}


 {% block main %}

     <form method="POST" action="{{ path('create_category') }}">

         <label for="title">Titre</label>
         <input type="text" id="titre" name="title" placeholder="Titre">

         <label for="image">Image</label>
         <input type="color" name="color">

         <button type="submit">Créé</button>

     </form>

 {% endblock main %}