{% extends 'base.html.twig' %}

{% block metatitle %} Catégories: {{ category.title}}{% endblock metatitle %}

{% block main %}
    <article class="articles-container" style="background-color: {{ category.color }}">
        <h2>{{ category.title }}</h2>

    </article>
{% endblock main %}