{% extends "base.html.twig" %}

{% block metatitle %} Contact {% endblock metatitle %}
 {% block body %}

{% block main %}

    {% if messageSend %}
        <p>{{ messageSend }}</p>
    {% endif %}

    <form action="" method="POST">
        <label for="name">Votre nom</label>
        <input type="text" name="name" placeholder="Entrez votre nom">
        <label for="message"></label>
        <input type="text" name="message" placeholder="Votre message">

        <button type="submit">Envoyer ma demande</button>
    </form>

{% endblock main %}
 {%  endblock body %}